<html ng-app>
    <head>
        <script src="js/angular.min.js"></script>
        <script>
            function bind(){
              /*  var input=document.getElementById('i');
                var ouput=document.getElementById('l');
                ouput.value=input.value;*/

               // alert("hello"+$("#i").val());

              // $("#l").val($('#i').val());


            };
        </script>
    </head>   
    <body>
       Enter Text: <input type="text" id='i' ng-model="m"/><br>
       Value Entered : <label id='l' ng-bind="m='label content'"></label>
    </body>  
</html>